.production-building {
  &.MuiAccordion-rounded {
    border-radius: 12px;
  }

  &__clock-input {
    margin: 12px 0;
  }

  &__recipe-input {
    margin: 12px 0 0;
  }

  &__title {
    font-size: 20px;
    font-weight: 400;
  }

  &--assembler {}

  &--constructor {}

  &--foundry {}

  &--smelter {}
}
