.factory-building {
  padding: 0 4px;

  &__details {
    display: flex;
    align-items: center;

    padding: 2px 20px 4px;
  }

  &__item-details {
    display: flex;
    align-items: center;
  }

  &__recipe-divider {
    margin: 6px;
  }
}
