.factory-content {
  margin: 4px;
  padding: 4px;

  &__item {
    display: flex;
    align-items: center;

    &__controls {
      display: flex;
      flex-direction: column;

      &__button {
        padding: 0;
      }
    }
  }

  &__add-building {
    margin: 4px 4px 4px 24px;
  }
}
