.factory-content {
  padding: 4px;

  // Control Bar
  & > .control-bar {
    padding-top: 0;
    padding-bottom: 0;
  }

  // Detail Display
  &__details {
    align-items: center;

    padding: 0 20px;
  }

  &__detail-list {
    align-items: center;
  }

  &__detail-display {
    display: flex;

    margin: 0 6px 0 0;
    padding: 8px 14px;
    width: 128px;
  }

  &__detail-divider {
    margin: 6px;
  }

  // Content
  &__card {
    padding: 4px;
  }

  &__item {
    display: flex;
    align-items: center;

    &__controls {
      display: flex;
      flex-direction: column;

      &__button {
        padding: 0;
      }
    }
  }

  &__group-checkbox {
    padding: 5px;
  }

  &__child {
    flex: 1 1 auto;
  }

  &__add-building.factory-content__add-building {
    min-height: 34px;
    max-height: 34px;
    width: 34px;

    margin: 12px 0 12px 65px;
  }
}
