.factory-content {
  margin: 4px;

  &__header {
    margin: 0 0 4px;
  }

  &__card {
    padding: 4px;
  }

  &__item {
    display: flex;
    align-items: center;

    &__controls {
      display: flex;
      flex-direction: column;

      &__button {
        padding: 0;
      }
    }
  }

  &__add-building {
    margin: 4px 4px 4px 57px;
  }
}
