.frame {
  $drawer-width: 256px;

  &__title {
    padding: 0 16px;
  }

  &__drawer {
    width: $drawer-width;

    &__create-new {
      padding-left: 32px;
    }
  }

  &__content {
    &--drawer-open {
      margin-left: $drawer-width;
    }
  }
}
